<!DOCTYPE html>
<html lang="en">
<head>
{{> includes/head-chat}}
<title>Chat</title>
</head>
<body>
<div class="container">
    <div class="card-panel black" align="center">
        <h1 id="welcome">E2E chat</h1>
        <span id="type" style="display: none;" onkeydown="typing()">Someone is typing ...</span>
    </div>
    <div class="row">
        <form onsubmit="chat(event)">
            <input type="text" class="chat-input" placeholder="Type Here..." id="chatmsg">
        </form>
    </div>
</div>
<div class="container">
    <div class="messages">
    </div>
</div>
</body>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/js/main.js"></script>
</html>